li {
    list-style: none;
    margin-bottom: 1em;
  }
  
  input {
    border: 1px solid black;
  }
  
  input:in-range {
    background-color: rgba(0, 255, 0, 0.25);
  }
  
  input:out-of-range {
    background-color: rgba(255, 0, 0, 0.25);
    border: 2px solid red;
  }
  
  input:in-range + label::after {
    content: 'bien.';
  }
  
  input:out-of-range + label::after {
    content: 'fuera de rango!';
  }

  input:invalid {
    background-color: #ffdddd;
  }
  
  form:invalid {
    border: 5px solid #ffdddd;
  }
  
  input:valid {
    background-color: #ddffdd;
  }
  
  form:valid {
    border: 5px solid #ddffdd;
  }
  
  input:required {
    border-color: #800000;
    border-width: 3px;
  }
  
  input:required:invalid {
    border-color: #C00000;
  }

    :lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }
    :lang(fr) > q { quotes: '« ' ' »'; }
    :lang(de) > q { quotes: '»' '«' '\2039' '\203A'; }

    p:last-child {
        color: lime;
        background-color: black;
        padding: 5px;
      }

      p:last-of-type {
        color: red;
        font-style: italic;
      }

      a:link {
        background-color: gold;
        color: green;
      }

      .fancy {
        text-shadow: 2px 2px 3px gold;
      }
      
      /* elementos <p> que no están en la clase `.fancy` */
      p:not(.fancy) {
        color: green;
      }
      
      /* Elementos que no son elementos <p> */
      body :not(p) {
        text-decoration: underline;
        color: blue;
      }
      
      /* Elementos que no son elementos <div> o <span> */
      body :not(div):not(span) {
        font-weight: bold;
      }
      
      /* Elementos que no son `.crazy` o `.fancy` */
      /* Tenga en cuenta que esta sintaxis aún no está bien soportada. */
      body :not(.crazy, .fancy) {
        font-family: sans-serif;
      }